{% extends 'myapp_hw1/base.html' %}

{% block title %}
    {{ super }} - {{ title }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Знакомьтесь, это Андрей - местный ИТ-волшебник и питонист-виртуоз!</h1>
        <p>Днем Андрей яростно покоряет вершины Python-разработки, с легкостью решая самые сложные задачи. Неудивительно, ведь этот парень с компьютерами на "ты" с самого детства!</p>
        <p>Но Андрей - далеко не скучный "зубрила". Стоит солнцу закатиться за горизонт, как он превращается в отчаянного искателя приключений и страстного путешественника. Его рабочее место - это весь необъятный мир, где он чувствует себя как рыба в воде.</p>
        <p>Андрей одинаково виртуозно управляется с Linux, Windows и MacOS. Он запросто находит общий язык и с серверами, и с мобильными устройствами. Этому ИТ-гуру покоряются любые технологии и программы - от простых скриптов до сверхсложных алгоритмов.</p>
        <p>Но самое удивительное в Андрее - это его неуемная жажда странствий. Стоит ему выйти за пределы офиса, как он тут же срывается в очередное захватывающее путешествие. Он с азартом покоряет горные вершины, ныряет в глубины океана и даже осваивает полеты на дельтаплане.</p>
        <p>Итак, перед вами универсальный ИТ-специалист и отчаянный путешественник, который никогда не сидит на месте. Этот человек-загадка постоянно находится в движении - и физическом, и умственном. Так что если вы хотите угнаться за Андреем, будьте готовы ко всему!</p>
    </div>
{% endblock %}