<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
     <style>
        body {
            width: 1000px;
            margin: 0 auto;
            padding: 30px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Мой сайт</title>
</head>
<body>
<div class="container-fluid">
        <ul class="nav nav-pills align-items-end nav nav-tabs">
            <li class="nav-item"><a href=".." class="nav-link">Основная</a></li>
            <li class="nav-item"><a href="" class="nav-link">Данные</a></li>
        </ul>
                <h1>Знакомьтесь, это Андрей - местный ИТ-волшебник и питонист-виртуоз!</h1>
    <p>Днем Андрей яростно покоряет вершины Python-разработки, с легкостью решая самые сложные задачи. Неудивительно, ведь этот парень с компьютерами на "ты" с самого детства!</p>
    <p>Но Андрей - далеко не скучный "зубрила". Стоит солнцу закатиться за горизонт, как он превращается в отчаянного искателя приключений и страстного путешественника. Его рабочее место - это весь необъятный мир, где он чувствует себя как рыба в воде.</p>
    <p>Андрей одинаково виртуозно управляется с Linux, Windows и MacOS. Он запросто находит общий язык и с серверами, и с мобильными устройствами. Этому ИТ-гуру покоряются любые технологии и программы - от простых скриптов до сверхсложных алгоритмов.</p>
    <p>Но самое удивительное в Андрее - это его неуемная жажда странствий. Стоит ему выйти за пределы офиса, как он тут же срывается в очередное захватывающее путешествие. Он с азартом покоряет горные вершины, ныряет в глубины океана и даже осваивает полеты на дельтаплане.</p>
    <p>Итак, перед вами универсальный ИТ-специалист и отчаянный путешественник, который никогда не сидит на месте. Этот человек-загадка постоянно находится в движении - и физическом, и умственном. Так что если вы хотите угнаться за Андреем, будьте готовы ко всему!</p>
            <hr>
            <footer>Все права защищены &copy;</footer>
        </div>
    </div>

</body>
</html>