<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
        body {
            width: 1000px;
            margin: 0 auto;
            padding: 30px;
        }
    </style>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>
        Мой сайт
    </title>
</head>
<body>
    <div class="container-fluid">
        <ul class="nav nav-pills align-items-end nav nav-tabs">
            <li class="nav-item"><a href="" class="nav-link">Основная</a></li>
            <li class="nav-item"><a href="about/" class="nav-link">Данные</a></li>
        </ul>
            <h1>Добро пожаловать на мой веб-сайт!</h1>
    <p>Дорогие друзья, я с гордостью представляю вам мой первый веб-сайт, созданный с использованием мощного фреймворка Django.</p>
    <p>Этот проект стал для меня настоящим испытанием и захватывающим приключением в мир веб-разработки. Шаг за шагом я осваивал основы Django, учился создавать динамические страницы, работать с данными и настраивать серверную часть приложения.</p>
    <p>На этом сайте вы найдете простое, но искреннее приветствие всем, кто заглянул сюда. Это лишь начало моего пути в веб-разработке, но уже сейчас я чувствую, что этот опыт открывает передо мной бесконечные возможности для творчества и самосовершенствования.</p>
    <p>Я надеюсь, что мой энтузиазм и стремление к новым знаниям вдохновят вас на собственные проекты и открытия в мире программирования. Если у вас есть вопросы или предложения, не стесняйтесь обращаться ко мне - я всегда рад новому диалогу и совместному поиску решений.</p>
    <p>Спасибо, что посетили мой первый сайт. Это лишь начало большого пути, и я с нетерпением жду возможности поделиться с вами своими будущими достижениями!</p>
            <hr>
            <footer>Все права защищены &copy;</footer>
        </div>
    </div>
</body>
</html>