{% extends 'myapp_hw1/base.html' %}
{% block title %}
    {{ super }} - {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
        <h1>Добро пожаловать на мой веб-сайт!</h1>
        <p>Дорогие друзья, я с гордостью представляю вам мой первый веб-сайт, созданный с использованием мощного фреймворка Django.</p>
        <p>Этот проект стал для меня настоящим испытанием и захватывающим приключением в мир веб-разработки. Шаг за шагом я осваивал основы Django, учился создавать динамические страницы, работать с данными и настраивать серверную часть приложения.</p>
        <p>На этом сайте вы найдете простое, но искреннее приветствие всем, кто заглянул сюда. Это лишь начало моего пути в веб-разработке, но уже сейчас я чувствую, что этот опыт открывает передо мной бесконечные возможности для творчества и самосовершенствования.</p>
        <p>Я надеюсь, что мой энтузиазм и стремление к новым знаниям вдохновят вас на собственные проекты и открытия в мире программирования. Если у вас есть вопросы или предложения, не стесняйтесь обращаться ко мне - я всегда рад новому диалогу и совместному поиску решений.</p>
        <p>Спасибо, что посетили мой первый сайт. Это лишь начало большого пути, и я с нетерпением жду возможности поделиться с вами своими будущими достижениями!</p>
    </div>
{% endblock %}