{% extends 'base.html' %}
{% block title %}
    {{ super }} - {{ title }}
{% endblock %}

{% block content %}
<h2>Список товаров:</h2>
<div class="row">
    {% for product in products %}
    <div class="col-4">
        <div class="card">
            <img src="{{ product.image.url }}" class="card-img-top" alt="Изображение продукта">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p>Количество в наличии: {{ product.quantity_products }}</p>
                <p>Дата поставки: {{ product.date_created }}</p>
                <p>Цена: {{ product.price }}</p>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}
</div>
{% endblock %}