{% extends 'base.html' %}

{% block content %}
  <h1>Заказы пользователя {{ user.username }}</h1>
  <table>
    <thead>
      <tr>
        <th>ID заказа</th>
        <th>Дата заказа</th>
        <th>Общая сумма</th>
        <th>Товары</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders_user %}
      {% with order_products=order.products.all %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.date_ordered }}</td>
        <td>{{ order.total_price }}</td>
        <td>
          <table>
            <thead>
              <tr>
                <th>Название</th>
                <th>Цена</th>
              </tr>
            </thead>
            <tbody>
              {% for product in order_products %}
              <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </td>
      </tr>
      {% endwith %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
