{% extends 'base.html' %}

{% block content %}
    <h2>Загрузить продукт в каталог</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}
        <div class="button-group">
            <button type="submit" class="btn btn-primary">Сохранить товар и создать еще один</button>
            {% if product %}
            <a href="{% url 'product_detail' product.pk %}" class="btn btn-success">Сохранить и перейти к товару</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
